$button-color: #d1a6ff;
$background-color: #c2fffa;
$card-color: #faf1aa;
$card-background-color: #feffe6;

.body {
    overflow-y: hidden;
}

.aspect-ratio-container {
    width: fit-content;
    background-color: $background-color;
}

h1 {
    font-size: 50px;
    text-align: left;
}

.title-container {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 10px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: aqua;
}

.navButtons {
    align-items: left;
    justify-content: right;
    text-align: left;
}

.card-container {
    display: flex;
    padding-top: 120px;
}

.card {
    display: flex;
    height: auto;
    width: fit-content;
    background-color: $card-color;
    padding: 20px;
}

mat-card {
    background-color: $card-background-color;
}

.image {
    width: 50%;
    height: 60%;
    margin-left: 20px;
    padding: 20px;
}

.button {
    background-color: $button-color;
    padding: 8px;
    margin: 5px;
    font-size: 20px;
}

.title {
    font-size: 25px;
}

.subtitle {
    font-size: 20px;
    color: black;
}

.favoriteButton {
    color: red;
}