$button-color: #d1a6ff;
$background-color: #c2fffa;
$card-color: #faf1aa;

.titleSect {
    height: 20%;
    background-color: $background-color;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navButtons {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contentWrapper {
    padding-top: 11%;
}

.card {
    display: flex;
    background-color: $card-color;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

.image {
    width: 200px;
    height: 300px;
    align-items: center;
    padding: 20px;
}

.button {
    background-color: $button-color;
    padding: 8px;
    margin: 5px;
    font-size: 20px;
}

.title {
    font-size: 25px;
}

.subtitle {
    font-size: 20px;
    color: black;
}

.favoriteButton {
    color: red;
}